<div class="seller-auth">
  <div class="signup">
    

    <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
      <h1>Seller Form</h1>

      <input
      type="text"
      class="p-inputtext"
      placeholder="Enter Name"
      pInputText
    />
    
      
      <input
      type="password"
      class="p-inputtext"
      placeholder="Enter Password"
      pInputText
    />
    
     
      
      <input
      type="text"
      class="p-inputtext"
      placeholder="Enter Email"
      pInputText
    />
      <button pButton pRipple label="Submit" class="p-button-success"></button>
    </form>
  </div>
</div>
